rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /clan_posts/{userId}/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
    match /banners/{allPaths=**} {
      allow read: if true;
      allow write: if request.auth != null && request.auth.token.email == "yuvarajs.1511@gmail.com";
    }
  }
}
